* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem ;
    }

    .divisao {
        margin-top: 1rem;
        
    }

    input {
        padding: 1rem;
        border: none;
        background-color: aliceblue;
    }

    button {
        padding: 1rem;
        border: none;
        cursor: pointer;
        font-family: 'Courier New', Courier, monospace;
    }

    